*{
    margin: 0;
    padding: 0;
}


.card{
    width: 676px;
    height: 960px;
    border-radius: 20px;
    background: #af853c;
    margin-left: 12px;
    text-align: center;
 font-family: 'Poppins', sans-serif;
 overflow: hidden;
margin-bottom: 32px;

}


h1 {
    line-height: 60px;
    font-size: 40px;
    color:  #FFFFFF;
padding-top: 138px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color:  #FFFFFF;
    padding-top: 48px;
    position: relative;

}
.wave1{
    position: absolute;
    margin-top: 180px;
    
    
}
.wave2{
 margin-top: 220px;
    padding-right: 500px;
}
@media  (max-width:450px) {
    .card{
        display: none;
    }
    
}

@media  (max-width:770px) {
    .card{
        display: none;
    }
    
}